<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <strong>Edit user</strong>
      </div>
      <div class="card-body">
        <form [formGroup]="userForm" (ngSubmit)="updateUser(user)" class="form-horizontal">


          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="username">Username</label>
            <div class="col-md-9">
              <input type="text"  formControlName="username"  id="username" name="username"  class="form-control" placeholder="Username">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="password">Password</label>
            <div class="col-md-9">
              <input type="password"  formControlName="password"  id="password" name="password"  class="form-control" placeholder="Password">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="email">Email</label>
            <div class="col-md-9">
              <input type="text"  formControlName="email"  id="email" name="email"  class="form-control" placeholder="Email">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="role">Role</label>
            <div class="col-md-9">
              <input type="text"  formControlName="role"  id="role" name="role"  class="form-control" placeholder="role" >
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="status">Status</label>
            <div class="col-md-9">
              <input type="text" formControlName="status" id="status" name="status" class="form-control" placeholder="status" disabled>
            </div>
          </div>

          <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Update</button>
          </div>
        </form>
        <button (click)="deleteUser()" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Delete user</button>
      </div>

    </div>

  </div>
  <div class="col-md-6">


  </div><!--/.col-->
</div><!--/.row-->
