
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <strong>Edit custom field</strong>
      </div>
      <div class="card-body">
        <form [formGroup]="customFieldForm" (ngSubmit)="updateCustomField(customFieldForm)" class="form-horizontal">


          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="label">Label</label>
            <div class="col-md-9">
              <input type="text"  formControlName="label"  id="label" name="label"  class="form-control" placeholder="Label">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="customTemplate">Custom Template</label>
            <div class="col-md-9">
              <input type="text"  formControlName="customTemplate"  id="customTemplate" name="customTemplate"  class="form-control" placeholder="customTemplate">

            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="type">Type</label>
            <div class="col-md-9">
              <select formControlName="type" #t id="type" placeholder="Type">
                <option *ngFor="let type of type" [value]="type.id">
                  {{type.name}}
                </option>
              </select>
            </div>
          </div>

<!--           *ngIf="customfield.type == 'Image'"-->

          <div  class="form-group row" *ngIf="t.value =='Image'">
            <label class="col-md-3 col-form-label" for="customTemplate" >Image</label>
            <div class="col-md-9">
<!--              <input type="text"  formControlName="customTemplate"  id="customTemplate" name="customTemplate"  class="form-control" placeholder="customTemplate">-->
                  <input type="file" (change)="onFileSelected($event)">

            </div>
          </div>








          <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Save</button>
            <button (click)="deleteCF()" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Delete custom field</button>
          </div>
        </form>
      </div>

    </div>

  </div>
  <div class="col-md-6">


<!--    <img  src="data:image/png;base64,{{customfield.pic}}"/>-->

  </div><!--/.col-->
</div><!--/.row-->
